<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="/process_login" method="post" name="f">
    <label for="username">Enter your username: </label>
    <input id="username" name="username" type="text"/>
    <br/>
    <label for="password">Enter your password: </label>
    <input id="password" name="password" type="password"/>
    <br/>
    <input type="submit" value="Login"/>
    <div style="color: red" th:if="${param.error}">
        Wrong username/password
    </div>
</form>
<br/>
<button type="button"
         th:onclick="|window.location.href='@{/registration}'|">registration
</button>
</body>
</html>