<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:action="@{/adminHome/addUser}" th:method="POST" th:object="${UserDto}">
    <label for="username">Enter username: </label>
    <input id="username" required th:field="*{username}" type="text">
    <div style="color: red" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input id="password" required th:field="*{password}" type="password">
    <div style="color: red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password error</div>
    <br/>
    <label for="passwordConfirmation">Enter password one more time: </label>
    <input id="passwordConfirmation" required th:field="*{passwordConfirmation}" type="password">
    <br/>
    <label for="email">Enter email: </label>
    <input id="email" required th:field="*{email}" type="email">
    <div style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email error</div>
    <br/>
    <label for="firstName">Enter first name: </label>
    <input id="firstName" required th:field="*{firstName}" type="text">
    <div style="color: red" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">First name error</div>
    <br/>
    <label for="lastName">Enter last name: </label>
    <input id="lastName" required th:field="*{lastName}" type="text">
    <div style="color: red" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Last name error</div>
    <br/>
    <label for="birthday">Enter birthday: </label>
    <input id="birthday" required th:field="*{birthday}" type="date">
    <div style="color: red" th:errors="*{birthday}" th:if="${#fields.hasErrors('birthday')}">Birthday error</div>
    <br/>
    <label for="role">Choose role</label>
    <select id="role" name="roles" required th:field="*{role}">
        <option th:each="nig : ${roleList}" th:text="${nig.getName()}" th:value="${nig.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Sign up">
</form>

</body>
</html>