<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="id" name="id" th:value="*{id}" type="hidden">
<form th:action="@{/adminHome/editUser/{id}(id=${id})}" th:method="PATCH" th:object="${UserDto}">
    <div>
        <label for="username">username:</label>
        <input id="username" name="username" required th:field="*{username}" type="text"/>
        <span th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span>
    </div>
    <div>
        <label for="password">password:</label>
        <input id="password" name="password" required th:field="*{password}" type="password"/>
        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
    </div>
    <label for="passwordConfirmation">Enter password one more time: </label>
    <input id="passwordConfirmation" required th:field="*{passwordConfirmation}" type="password"/>
    <br/>
    <div>
        <label for="email">Email:</label>
        <input id="email" name="email" required th:field="*{email}" type="email"/>
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    </div>
    <div>
        <label for="firstName">firstName:</label>
        <input id="firstName" name="firstName" required th:field="*{firstName}" type="text"/>
        <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
    </div>
    <div>
        <label for="lastName">lastName:</label>
        <input id="lastName" name="lastName" required th:field="*{lastName}" type="text"/>
        <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
    </div>
    <div>
        <label for="birthday">birthday:</label>
        <input id="birthday" name="birthday" required th:field="*{birthday}" type="date"/>
        <span th:errors="*{birthday}" th:if="${#fields.hasErrors('birthday')}"></span>
    </div>
    <label for="role">Choose role</label>
    <select id="role" name="roles" required th:field="*{role.name}">
        <option th:each="nig : ${roleList}" th:text="${nig.getName()}" th:value="${nig.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Sign up">
</form>
</body>
</html>